/* ==UserStyle==
@name           Slack Racers Font
@namespace      github.com/openstyles/stylus
@version        1.2.0
@description    Slack RacersFont
@homepageURL    https://codeberg.org/bagnaram/slack-racers-font
@updateURL      https://codeberg.org/bagnaram/slack-racers-font/raw/branch/master/slack-racers-font.user.css
@author         bagnaram
@license        CC-BY-NC-SA-4.0
@preprocessor stylus
@var  checkbox custom-fonts "Enable Custom Font" 0
@var  checkbox avatar-disable "Disable User Avatars from displaying" 0
@var  checkbox remove-bloat "Remove various bloat from interface" 1
@var  checkbox remove-second-sidebar "Remove second sidebar" 1
@var  checkbox remove-attachments "Remove post attachments" 1
@var  checkbox system-dark "Inherit Dark-mode from system" 1
@var range    font-size  "Font Size" [17, 1, 30, 1, "pt"]
@var range    title-size  "Title Size" [17, 1, 30, 1, "pt"]
==/UserStyle== */
@-moz-document domain("app.slack.com") {



    if system-dark {

        /* Make unread itemas easier to read */
        .p-channel_sidebar__channel.p-channel_sidebar__channel--unread span {
            color: #8b8bd6 !important;
        }
        @media (prefers-color-scheme: light) {
            .sk-client-theme--dark {
                --sk_primary_foreground: unset;
                --sk_primary_background: unset;
                --sk_inverted_foreground: unset;
                --sk_inverted_background: unset;
                --sk_foreground_max: unset;
                --sk_foreground_high: unset;
                --sk_foreground_low: unset;
                --sk_foreground_min: unset;
                --sk_foreground_max_solid: unset;
                --sk_foreground_high_solid: unset;
                --sk_foreground_low_solid: unset;
                --sk_foreground_min_solid: unset;
                --sk_highlight: unset;
                --sk_highlight_hover: unset;
            }

            .sk-client-theme--dark,
            .sk-client-theme--light {
                --sk_highlight_accent: unset;
                --sk_secondary_highlight: unset;
            }
            .c-icon_button--dark,
            .c-icon_button--dark.c-button-unstyled,
            .c-icon_button--dark:link {
                color: unset;
            }
        }
    }
    if custom-fonts {
        .p-channel_sidebar--classic_nav,
        [lang="ja-JP"] .p-channel_sidebar:not(.p-channel_sidebar--classic_nav) {
            font-size: font-size !important;
            font-family: RacersFont;
        }

        .p-classic_nav__model__title__name {
            font-size: font-size !important;
            font-family: RacersFont;
        }

        .p-ia__view_header .p-classic_nav__model__title__name,
        .p-ia__view_header__title {
            font-size: title-size !important;
            font-family: Olde English;
        }

        .p-threads_view_header__channel_name {
            font-size: font-size !important;
            font-family: RacersFont;
        }

        .c-button-unstyled {
            font-family: RacersFont;
            font-size: font-size !important;
        }

        .c-message__sender {
            font-family: RacersFont;
        }

        .p-channel_sidebar__channel__channel {
            font-family: RacersFont;
        }

        .p-member_profile_name__title {
            font-family: RacersFont;
        }

        .p-member_profile_picture {
            display: none;
        }

        .c-tooltip__tip {
            font-family: RacersFont;
        }
        .c-button {
            font-family: RacersFont;
        }
        .p-view_header__member_name {
            font-size: title-size !important;
            font-family: Olde English;
        }
        .p-view_header__channel_title {
            font-size: title-size !important;
            font-family: Olde English;
        }
        .p-r_member_profile__name {
            font-family: RacersFont;
        }

        .p-flexpane__title_container {
            font-family: RacersFont;
            font-size: font-size !important;
        }

        .c-icon--arrow-up-medium::before {
            font-size: font-size !important;
        }
    }

    /* Remove bloat */
    if remove-bloat {

        .p-channel_sidebar__channel_team.margin_left_50 {
            display: none;
        }
        .c-icon--expand-vertical {
            display: none;
        }
        .c-wysiwyg_container__button--send_options {
            display: none;
        }
        .p-message_pane__foreword__notification_warning {
            display: none;
        }
        .p-bookmarks_bar {
            display: none;
        }
        html body.sk-client-theme--dark.p-client_desktop--ia-top-nav div.p-client_container div.p-client div.p-client__banners.p-ia__workspace_banner div.c-banner.c-banner--neutral.p-ia_banner.p-workspace_banner__desktop-notifications {
            display: none;
        }
        #addMoreChannels {
            display: none;
        }
        #addMoreDM {
            display: none;
        }
        .p-shortcuts_menu_trigger_button_left_column {
            display: none;
        }
        .p-workspace__input.p-message_input .c-texty_input__container:not(.c-texty_input__container--expanded):not(.c-texty_input__container--no_actions) .p-message_input_field:not(.c-texty_input--double_decker) {
            padding-left: 16px;
        }
        .p-workspace__input.p-message_input .c-texty_input__container:not(.c-texty_input__container--expanded):not(.c-texty_input__container--no_actions) .p-message_input_field:not(.c-texty_input--double_decker) .ql-placeholder {
            left: 16px;
        }
        .c-texty_input__button ~ .c-texty_input__button ~ .c-texty_input__button ~ .c-texty_input__button {
            display: none;
        }
        .p-notification_bar {
            display: none;
        }
        #addMoreApps {
            display: none;
        }
        .c-wysiwyg_container__prefix {
            display: none;
        }
        .c-wysiwyg_container__button--story_meeting {
            display: none;
        }
        .p-audio_composer_button {
            display: none;
        }
        html body.p-client_desktop--ia-top-nav div.p-client_container div.p-client div.p-workspace-layout div.p-workspace__primary_view div.p-workspace__primary_view_contents div.p-view_header.p-view_header--tiles.p-view_header--with-bookmarks-bar div.p-view_header__actions button.c-button-unstyled.c-icon_button.c-icon_button--light.c-icon_button--size_small {
            display: none;
        }
        .p-huddle_sidebar_footer {
            display: none;
        }
        div.c-wysiwyg_container__footer {
            display: none;
        }
    }

    if remove-attachments {
        .c-message_kit__attachments {
            display: none;
        }
    }

    /* Remove the new 2nd sidebar */
    if remove-second-sidebar {
        html body.p-ia4_body.gecko.use-slack-font.underline-all-links div.p-client_container div.p-ia4_client_container div.p-ia4_client.p-ia4_client--with-search-in-top-nav.p-ia4_client--workspace-switcher-prototype-on.p-ia4_client--browser.p-ia4_client--theming div.p-client_workspace--including_tab_rail div.p-tab_rail {
            display: none;
        }
        .p-ia4_client.p-ia4_client--narrow-feature-on .p-client_workspace_wrapper:not(.p-client_workspace_wrapper--with-split-view) {
            grid-template-columns: min-content auto
        }

        .p-tab_rail {
            width: 0px;
            display: none;
        }

        /*
        .p-ia4_client .p-client_workspace_wrapper {
            grid-template: "p-tab-rail p-client-workspace" / min-content auto
        } */
        .p-client_workspace_wrapper {
            /*grid-template-columns: min-content auto;*/
            grid-template: "p-tab-rail p-client-workspace"1fr"p-tab-rail p-client__banners"/min-content auto;
        }
        .p-ia4_client .p-client_workspace_wrapper {
	        grid-template: "p-tab-rail p-client-workspace"1fr"p-tab-rail p-client__banners"/min-content auto;
        }

        .p-ia4_client.p-ia4_client--narrow-feature-on .p-client_workspace_wrapper {
            grid-template-columns: min-content auto;
        }
    }

    /* Remove avatars */
    if avatar-disable {
        .c-avatar {
            display: none;
        }
        .p-member_profile_card__header {
            display: none;
        }
    }
}
